/* Text styles */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);
.text {
  fill: none;
  stroke-width: 3;
  stroke-linejoin: round;
  stroke-dasharray: 70 330;
  stroke-dashoffset: 0;
  -webkit-animation: stroke 6s infinite linear;
  animation: stroke 6s infinite linear;
}
.text:nth-child(5n + 1) {
  stroke: #ffd700;
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
}
.text:nth-child(5n + 2) {
  stroke: #00bfff;
  -webkit-animation-delay: -2.4s;
  animation-delay: -2.4s;
}
.text:nth-child(5n + 3) {
  stroke: #ff0000;
  -webkit-animation-delay: -3.6s;
  animation-delay: -3.6s;
}
.text:nth-child(5n + 4) {
  stroke: #00ff00;
  -webkit-animation-delay: -4.8s;
  animation-delay: -4.8s;
}
.text:nth-child(5n + 5) {
  stroke: #ffc0cb;
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}
@keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}
/* Other styles */

.view-text {
  background: #000000;
  font: 4em/1 Open Sans, Impact;
  text-transform: uppercase;
  margin: 50px;
  padding: 0;
}

svg {
  position: relative;
  width: 100%;
  height: 100%;
}

/* ========== */
/* Estilos para pantallas de 400x800 o menos */
@media (max-width: 400px) and (max-height: 800px) {
  .view-text {
    margin: 200px 0px;
    padding: 0px;
    width: 100%;
  }

  .span {
    border-radius: 50%;
  }
}

/* ===BUBBLES=== */
.contenedor {
  position: absolute;
  width: 100%;
  height: 70%;
}

.bubbles {
  position: relative;
  display: flex;
}

.bubbles span {
  z-index: 80;
  position: relative;
  width: 30px;
  height: 30px;
  background: #4fc3dc;
  margin: 0 15px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
  animation: animate 15s linear infinite;
  animation-duration: calc(125s / var(--i));
}

.bubbles span:nth-child(even) {
  background: #ff2d75;
  box-shadow: 0 0 0 10px #ff2d7544, 0 0 50px #ff2d75, 0 0 100px #ff2d75;
}

@keyframes animate {
  0% {
    transform: translateY(90vh) scale(0);
  }
  100% {
    transform: translateY(-10vh) scale(1);
  }
}
